{% extends 'base.html' %}

{% block title %}Profil utilisateur{% endblock title %}

{% block content %}
<div class="row">
    <div class="col col-3 md-col-12">
        <ul class="list-group">
            <li class="list-group-item list-group-item-secondary">{{ user.username }}</li>
            <a href="{% url 'profile' %}" class="list-group-item active">Mon profil</a>
            <a href="{% url 'manage' %}"class="list-group-item">Mes serveurs</a>
        </ul>
    </div>
    <div class="col">
        <p>Ici on va faire de quoi modifier le profil de l'utilisateur.</p>
        <p>Cf. la page profil de github</p>
    </div>
</div>
{% endblock content %}
