{% extends 'base.html' %}

{% block title %}Serveurs Minecraft{% endblock title %}

{% block head %}{% endblock head %}

{% block content %}
    <div class="jumbotron">
        <h1 class="display-4">Bienvenue sur le gestionnaire de serveurs Minecraft</h1>
        <p class="lead">
            Vous pouvez créer des serveurs Minecraft lorsque vous en avez besoin juste ici !
        </p>
        <hr class="my-4">
        <p>
            Il n'y a qu'une seule règle : éteindre le serveur lorsque vous n'en avez plus besoin.
        </p>
        <a class="btn btn-primary btn-lg" href="{% url 'core:public-servers' %}" role="button">Parcourir les serveurs publics</a>
    </div>
{% endblock content %}
