{% load static %}
{% load is_authorized %}
{% is_authorized 'manage' as manage_permission %}
{% is_authorized 'properties' as properties_permission %}
{% is_authorized 'administrators' as administrators_permission %}
{% is_authorized 'console' as console_permission %}
<div class="col mb-4">
    <div class="card">
        {% if server.image %}
        <img src="{{ server.image.url }}" class="card-img-top" alt="Server icon">
        {% else %}
        <img src="{% static 'img/default_favicon.jpeg' %}" class="card-img-top" alt="Server icon">
        {% endif %}
        <div class="card-body">
            <h5 class="card-title">{{ server.name }}</h5>
            <p class="card-text">
                {{ server.description }}<br>
                <small>Version : {{ server.version }}</small>
            </p>
            {% if manage_permission %}
            <a href="{% url 'core:edit' server.pk %}" class="btn btn-primary">Paramétrer</a>
            {% if server.get_status %}
            <a href="{% url 'core:stop' server.pk %}" class="btn btn-danger">Eteindre</a>
            {% else %}
            <a href="{% url 'core:start' server.pk %}" class="btn btn-success">Démarrer</a>
            {% endif %}
            {% else %}
            {% if properties_permission %}
            <a href="{% url 'core:properties' server.pk %}" class="btn btn-secondary">Paramétrer</a>
            {% endif %}
            {% if administrators_permission %}
            <a href="{% url 'core:shares' server.pk %}" class="btn btn-secondary">Gérer les partages</a>
            {% endif %}
            {% endif %}
        </div>
        <div class="card-footer">
            {% if server.get_status == 1 %}
            <small class="text-muted"><img src="{% static 'img/started.svg' %}" alt="Status" style="width: 1em; height: 1em;"> Démarré - Port {{ server.port }}</small>
            {% else %}
            <small class="text-muted"><img src="{% static 'img/stopped.svg' %}" alt="Status" style="width: 1em; height: 1em;"> Eteint</small>
            {% endif %}
        </div>
    </div>
</div>
