{% extends 'main/settings.html' %}
{% load crispy_forms_tags %}


{% block title %}Partage du serveur{% endblock title %}

{% block body %}
<h2>Ajout d'un partage</h2>
<div class="mb-4">
    <p>
        Ici vous pourrez partager le serveur à plusieurs personnes :)
    </p>
    <p>
        Ajouter un partage:
        <ul>
            <li>Personne</li>
            <li>Niveau de permission</li>
        </ul>
    </p>
    {% crispy form %}
</div>
<h2>Gestion des partages</h2>
<div class="mb-4">
    <p>
        Ci-dessous vous pouvez modifier le niveau de partage et supprimer les partages que vous souhaitez.
    </p>
    {{ server.shares.all }}
    {% if server.shares.all %}
    <div class="mt-3">
        <p>
            Des partages ont déjà été défini :
        </p>
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Utilisateur</th>
                    <th scope="col">Niveau de permission</th>
                    <th scope="col">Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for share in server.shares.all %}
                <tr>
                    <td>{{ share.user.username }}</td>
                    <td>{{ share.level }}</td>
                    <td>
                        <div class="dropdown">
                            <span class="float-right table-action" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="material-icons">more_horiz</i>
                            </span>
                            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton">
                                <a class="dropdown-item"
                                    href="http://badaiglon.fr/dashboard-users?s=admin&amp;u=mael@marchand.cloud">Administrateur</a>
                                <a class="dropdown-item" href="http://badaiglon.fr/dashboard-users?s=user&amp;u=mael@marchand.cloud">Inscrit</a>
                            </div>
                        </div>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    {% else %}
    <div class="alert alert-info" role="alert">
        Aucun partage existe pour ce serveur.
    </div>
    {% endif %}
</div>
{% endblock body %}