{% extends 'base.html' %}

{% block content %}
    {% if create_success %}
    <div class="alert alert-success alert-dismissible fade show" role="alert">
        Le serveur a bien été créé.
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    {% endif %}
    {% if request.resolver_match.url_name == "properties" and server.get_status != 0 and success %}
    <div class="alert alert-warning alert-dismissible fade show" role="alert">
        Le serveur doit être redémarré pour que les changements soient pris en compte.
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    {% endif %}

    <div class="row">
        {% include 'core/nav.html' %}
        <div class="col">
            <h1>Gérer le serveur {{ server.name }}</h1>
            {% block body %}{% endblock body %}
        </div>
    </div>
{% endblock content %}
