{% extends 'base.html' %}
{% load bootstrap_tags %}

{% block title %}Ajouter un serveur{% endblock title %}

{% block head %}{% endblock head %}

{% block content %}
    <div class="pb-3">
        <a href="{% url 'manage' %}" class="btn btn-primary">← Retour</a>
    </div>
    <form action="{% url 'add' %}" method="POST">
        {% csrf_token %}
        {{ valid }}
        {{ form|as_bootstrap }}
        <input type="submit" value="Enregistrer" class="btn btn-success">
    </form>
{% endblock content %}