<div class="col col-12 col-md-3 mb-3">
    <ul class="list-group">
        <li class="list-group-item list-group-item-secondary">
            {% if server.image %}
            <img src="{{ server.image.url }}" alt="Image" style="height: 1.2em;" class="rounded mr-1">
            {% endif %}
            {{ server.name }}
        </li>
        <a href="{% url 'main:edit' server.pk %}" class="list-group-item{% if request.resolver_match.url_name == "edit" %} active{% endif %}">Paramètres globaux</a>
        <a href="{% url 'main:properties' server.pk %}" class="list-group-item{% if request.resolver_match.url_name == "properties" %} active{% endif %}">Propriétés</a>
        <a href="{% url 'main:permissions' server.pk %}" class="list-group-item{% if request.resolver_match.url_name == "permissions" %} active{% endif %}">Permissions</a>
    </ul>

    <ul class="list-group mt-3">
        {% if server.get_status %}
        <a href="{% url 'main:stop' server.pk %}" class="list-group-item list-group-item-danger">Eteindre</a>
        {% else %}
        <a href="{% url 'main:start' server.pk %}" class="list-group-item list-group-item-success">Démarrer</a>
        {% endif %}
    </ul>
</div>